
 




<section id="gallery">

        <div class="container">

                <header>
                <h1>Outfits</h1>

                <p class="lead">Create Spiffy Outfits.</p>

                </header>

            <!--////////// Sortable Gallery Filters //////////-->
                <div id="filters" class="gallery-filter">
                    <select>
                        <option value="*">All</option>
                        <option value=".top">Business</option>
                        <option value=".bottom">Business Casual</option>
                        <option value=".one piece">Everyday</option>
                        <option value=".misc">Workout</option>
                    </select>    
                </div>
            
                <%= link_to 'Add New Outfit', new_outfit_path, data: { no_turbolink: true }, class: "btn btn-danger btn-hg inline"  %>

                 
                
                <div id="gallery-items">




                    <% @outfits.each do  |outfit| %>

                                

                        <div class="col-lg-3 col-md-4 col-xs-6 gallery-item gallery-popup all <%= @tags %> <%= @category %>">
                            <figure>  
                                <a href="<%= outfit.img_url %>" class="zoom"><img src="<%= outfit.img_url %>" width="600" height="300" alt="gallery-image" title="clothing.title" class="img-responsive" /></a>

                                <!--/// link to a details portfolio page ///-->
                                <div class="item-hover">
                                    <a href="#">Schedule this Outfit</a> 
                                </div> 
                                <div class="item-hover-right">
                                    <%= link_to("Edit", "outfits/#{outfit.id}/edit") %> | <%= link_to "Delete", "outfits/#{outfit.id}",  method: :delete, data:  { confirm: "Are you sure?" } %>
                                </div>    

                            </figure>
                        </div>
                                

                      <% end %>

                </div>
                 <div><%= link_to 'Back', outfits_path %></div>
        </div>
</section>
