<h1> Clothing Item:<%= @clothing.title %></h1>
 
 <ul>
 
 <li> <%= @clothing.title %></li>
 <li> <%= @clothing.color %></li>
 <li> <%= @clothing.clothing_type %></li>

</ul>

<%= link_to 'Back', clothing_items_path %>