<section id="gallery">

    <div class="container">
        <%= render "shared/flash" %>

        <h1> Clothing Item:<%= @clothing.title %></h1>
         


        <%= filepicker_image_tag @clothing.img_url, w: 360, h: 360, fit: 'clip' %>

         <ul>
         
         <li> <%= @clothing.title %></li>
         <li> <%= @clothing.color %></li>
         <li> <%= @clothing.clothing_type %></li>
         <li> <%= @clothing.form_type %></li>


        </ul>

        <%= link_to 'Back', clothing_items_path %>

    </div>






</section>




