
<!DOCTYPE html>
<html>
<head>
  <title>StyleNerd</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%#= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>
</head>
 <!-- Scrollspy set in the body -->
    <body id="home" data-spy="scroll" data-target=".main-nav" data-offset="73">

    <!--///////////////////////////////////////// PARALLAX BACKGROUND ////////////////////////////////////////-->

    <!-- image is set in the CSS as a background image -->
    <!-- <div id="parallax"></div> -->

    <!--///////////////////////////////////////// end PARALLAX BACKGROUND ////////////////////////////////////////-->


    
    <!--/////////////////////////////////////// NAVIGATION BAR ////////////////////////////////////////-->

   <section id="header">

        <!-- Static navbar -->
        <div class="navbar navbar-fixed-top" role="navigation">
            <div class="container">
           
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
              
                    <!-- Logo goes here - replace the image with yours -->
                    <a href="/" class="navbar-brand">
                        
                        <img src= <%= image_path('logo.png') %> class="logo-img img-responsive" alt="StyleNerd! Logo" title="StyleNerd! Logo">

                    </a>
                </div>

            <div class="navbar-collapse collapse nav-right">
             
                <ul class="nav navbar-nav navbar-right">
                    <!-- Menu items go here -->
                    <li class="active hidden"><a href="#home">Home</a></li>
                    <li><a data-no-turbolink href="/clothing_items">Your Closet</a></li>
                    <li><a data-no-turbolink href="/outfits">Outfits</a></li>
                    <li><a data-no-turbolink href="/calendar">Calendar</a></li>
                    <li><a data-no-turbolink href="/inspiration">Inspiration</a></li>
                    <!-- <li><a href="/wishlists">Wishlist</a></li> -->
                    
                    <!-- <li><a href="login">Sign Out</a></li> -->
                    <!-- If you want sub-menu items, do them like this
                   
                    <li class="dropdown">
                    <a href="/clothing_items" class="dropdown-toggle" data-toggle="dropdown">Your Closet <span class="caret"></span></a>

                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/clothing_items">Clothes</a></li>
                            <li><a href="/outfits">Outfits</a></li>
                        </ul>
                    </li>

                    You just need to delete these comment lines -->
                </ul>
            </div>

          </div>
        </div>

    </section>

    
<%= yield %>
 <!--//////////////////////////////////////// FOOTER SECTION ////////////////////////////////////////-->
    <section id="footer">
        <div class="bottom-menu-inverse">

            <div class="container">

                <div class="row">
                    <div class="col-md-6">
                        <p>Copyright &copy; 2015 StyleNerd Designed by <a href="http://www.smallsitez.net" target="_blank">Smallsitez</a>.</p>
                    </div>

                    <div class="col-md-6 social">
                        <ul class="bottom-icons">
                            <li>
                              <a href="#" class="fui-facebook"></a>
                            </li>
                             <li>
                              <a href="#" class="fui-twitter"></a>
                            </li>
                             <li>
                              <a href="#" class="fui-pinterest"></a>
                            </li>
                             <li>
                              <a href="#" class="fui-googleplus"></a>
                            </li>
                             <li>
                              <a href="#" class="fui-dribbble"></a>
                            </li>
                             <li>
                              <a href="#" class="fui-vimeo"></a>
                            </li>
                          </ul>                      
                    </div>
                </div>
            
            </div><!-- /row -->
        </div><!-- /container -->

    </section>

    <!--//////////////////////////////////////// end FOOTER SECTION ////////////////////////////////////////-->



    <!--//////////////////////////////////////// JAVASCRIPT LOAD ////////////////////////////////////////-->

    <!-- Feel free to remove the scripts you are not going to use -->
    

    <!--//////////////////////////////////////// end JAVASCRIPT LOAD ////////////////////////////////////////-->

  </body>
</html>

 


